QTableWidget {
    border: 5px solid black;
    background-color: #1e1e1e;
    font-weight: bold;
}

QTableWidgetItem {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

QHeaderView::section {
    color: gray;
    border: none;
    background-color: #1e1e1e;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
}
